<div [formGroup]="form">
  <div *ngIf="!playlists">
    <md-input-container>
      <input mdInput type="text" formControlName="token"
        placeholder="Access token">
    </md-input-container>

    <button md-raised-button color="primary" (click)="loadPlaylists()">LOAD</button>
  </div>

  <div *ngIf="playlists && !newPlaylistInfo.loaded">
    <div formArrayName="playlists">
      <h1>Playlists</h1>
      <div *ngFor="let playlist of playlists.controls; let i=index" [formGroupName]="i">
        <md-checkbox formControlName="include">{{ playlist.get('name')?.value }} ({{ playlist.get('trackCount')?.value }} tracks)</md-checkbox>
      </div>
    </div>

    <md-input-container>
      <input mdInput type="text" formControlName="mixName"
        placeholder="Mix playlist name">
    </md-input-container>

    <button md-raised-button color="primary" (click)="createMix()">CREATE MIX</button>

  </div>

  <div *ngIf="newPlaylistInfo.loaded">
    <h1>Success!</h1>
    <h2>Original Playlists</h2>
    <ul>
      <li *ngFor="let playlist of newPlaylistInfo.originalPlaylists">
        {{playlist.name}} - {{playlist.trackCount}} tracks
      </li>
    </ul>
    <h2>Candidate tracks</h2>
      <ul>
        <li>{{newPlaylistInfo.uniqueTracks.length}} unique tracks</li>
      </ul>
    <h2>New Playlist</h2>
    <ul>
      <li>Name: {{newPlaylistInfo.playlist.name}}</li>
      <li>Track count: {{newPlaylistInfo.playlist.tracks.total}}</li>
    </ul>
  </div>
</div>
