<div *ngIf="library.user && form" [formGroup]="form">

  <mat-card>
    <mat-card-title-group>
      <img mat-card-sm-image [src]="library.user.images[0].url">
      <mat-card-title>{{library.user.display_name}}</mat-card-title>
    </mat-card-title-group>
    <mat-card-content *ngIf="library.initialized && library.mixes | async as mixes">
      <mat-list *ngIf="mixes.length">
        <h3 mat-subheader>Saved mixes</h3>
        <mat-list-item *ngFor="let mix of mixes">
          <img matListAvatar [src]="mix.images[mix.images.length-1]?.url">
          <p matLine>{{mix.name}}</p>
          <button mat-icon-button (click)="library.remix(mix)">
            <mat-icon>autorenew</mat-icon>
          </button>
          <button mat-icon-button (click)="library.deleteMix(mix)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions *ngIf="library.initialized">
        <button mat-raised-button color="primary" (click)="library.loadLibrary()"
          *ngIf="!library.loading">
          <span *ngIf="!library.loaded">LOAD LIBRARY</span>
          <span *ngIf="library.loaded">RELOAD LIBRARY</span>
        </button>
        <button mat-raised-button color="primary" routerLink="/library"
          *ngIf="!library.loading && library.loaded">CREATE A NEW MIX</button>
    </mat-card-actions>
  </mat-card>

  <div class="progress-section" *ngIf="library.playlistCount">
      <div>Playlists loaded: {{library.playlistsLoaded}} / {{library.playlistCount}}</div>
      <mat-progress-bar color="primary"
      mode="determinate"
      [value]="(library.playlistsLoaded / library.playlistCount) * 100"></mat-progress-bar>
  </div>
  <div class="progress-section" *ngIf="library.trackCount">
      <div>Tracks loaded: {{library.tracksLoaded}} / {{library.trackCount}}</div>
      <mat-progress-bar color="primary"
      mode="determinate"
      [value]="(library.tracksLoaded / library.trackCount) * 100"></mat-progress-bar>
  </div>
  <div class="progress-section" *ngIf="library.albumCount">
      <div>Albums loaded: {{library.albumsLoaded}} / {{library.albumCount}}</div>
      <mat-progress-bar color="primary"
      mode="determinate"
      [value]="(library.albumsLoaded / library.albumCount) * 100"></mat-progress-bar>
  </div>
  <div class="progress-section" *ngIf="library.artistCount">
      <div>Artists loaded: {{library.artistsLoaded}} / {{library.artistCount}}</div>
      <mat-progress-bar color="primary"
      mode="determinate"
      [value]="(library.artistsLoaded / library.artistCount) * 100"></mat-progress-bar>
  </div>
  <div class="progress-section" *ngIf="library.genreCount">
      <div>Genres: {{library.genreCount}}</div>
  </div>



  <div *ngIf="playlists && !newPlaylistInfo.loaded">

    <mat-input-container>
      <input matInput type="text" formControlName="mixName"
        placeholder="New mix playlist name">
    </mat-input-container>

    <div class="select-playlists" formArrayName="playlists">
      <h2>Select playlists to mix</h2>
      <div *ngFor="let playlist of playlists.controls; let i=index" [formGroupName]="i">
        <mat-checkbox formControlName="include">{{ playlist.get('name')?.value }} ({{playlist.get('owner').value}} - {{ playlist.get('trackCount')?.value }} tracks)</mat-checkbox>
      </div>
    </div>

    <button mat-raised-button color="primary" (click)="createMix()">CREATE MIX</button>

  </div>

  <div *ngIf="newPlaylistInfo.loaded">
    <h1>Success!</h1>
    <h2>Original Playlists</h2>
    <ul>
      <li *ngFor="let playlist of newPlaylistInfo.originalPlaylists">
        {{playlist.name}} - {{playlist.trackCount}} tracks
      </li>
    </ul>
    <h2>Candidate tracks</h2>
      <ul>
        <li>{{newPlaylistInfo.uniqueTracks.length}} unique tracks</li>
      </ul>
    <h2>New Playlist</h2>
    <ul>
      <li>Name: {{newPlaylistInfo.playlist.name}}</li>
      <li>Track count: {{newPlaylistInfo.playlist.tracks.total}}</li>
    </ul>
  </div>
</div>
